<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/cart.css">


</head>

<body>
    <main class="main">
        <%- include("../partials/header")  %>

        <div>

            <div class="container">
                <div class="caja">
                    <p class="productName">Botines Predator adidas Sport</p>
                    <div class="caja-imagen">
                        <img src="/images/adidas_predator.jpg" alt="">

                        <div class="producto">
                            <p class="productTalle">Talle 45</p>
                            <a class="productEdit" href="/product">Editar Producto</a>
                            <div class="containerTotal">
                                <div class="input">
                                    <label class="labelCant" for="">Cantidad</label>
                                    <input class="inputCant " type="number" name="cantidad" value="1">
                                </div>

                                <div class="total">
                                    <label class="labelTotal" for="">Total</label>
                                    <label class="inputTotal"for="">$9999</label>
                                </div>
                            </div>

                        </div>


                    </div>


                </div>



                <div class="container-envio">

                    <label class="labelSend" for="">Envío</label>
                    <div>
                        <input class="inputSend" type="number" name="envio" placeholder="Codigo postal" value="">
                        <button class="inputCalc" type="button">Calcular</button>
                    </div>

                    <label class="labelDiscount"  for="">Cupón de descuento</label>
                    <div>
                        <input class="inputDiscount" type="text" name="cupon" placeholder="Ingresá tu codigo" value="">
                        <button class="inputVal" type="button">Validar</button>
                    </div>
                    <div class="bottons">
                        <button class="inputBuy" type="submit">Comprar</button>
                    </div>
                </div>



            </div>


        </div>








        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>


    </main>



</body>

</html>