


h1{
    font-weight: 600;
    color: #606060;
    font-size: 24px;
    text-align: center; 
}


.containerAdd{

      
display:flex;
flex-direction: column;

}

.labelName, .labelDescri  {
    font-weight: 400;
    color: #606060;
    font-size: 12px;
  
}

.inputName{
    font-weight: 400;
    border-radius: 50px;
    font-size: 14px;
    border: solid 2px #0985d9;
    outline: 0px;   
padding:4px;    
}
.coments{
    font-weight: 400;
    border-radius: 15px;
    font-size: 14px;
    border: solid 2px #0985d9;
    outline: 0px;   
    padding:4px;      
}


/*containerDetalle*/



.containerDetalle div{
    width: 100%;
    display:flex;
    flex-direction: column;
    
    
} 
.containerDetalle{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;;
    
}
.containerDetalle label  {
 
    font-weight: 400;
    color: #606060;
    font-size: 12px;
}

.containerDetalle input, select{
    
    font-weight: 400;
    border-radius: 50px;
    font-size: 14px;
    border: solid 2px #0985d9;
    outline: 0px;   
    padding:4px;    
}

.containerDetalle button{
    
    font-weight: 400;
    border-radius: 50px;
    font-size: 14px;
 background-color: #0985d9;
    outline: 0px;   
padding:4px;    
border: 1px #0985d9 solid;
color: #ffffff;
margin-top: 2px;
}

.containerDetalle button:hover{
    background-color: #606060;
    border: 1px #606060 solid;
color: #ffffff;
cursor: pointer;

}
.fotoProducto{
    font-weight: 400;
    color: #606060;
    font-size: 12px;
}



.containerDetalle div{
    width: 48%;
}

.labelSku{
    font-weight: 400;
    color: #606060;
    font-size: 12px; 
}


.inputSku {
    font-weight: 400;
    border-radius: 50px;
    font-size: 14px;
    border: solid 2px #0985d9;
    outline: 0px;   
padding:4px;    
text-align: center;
}


@media (min-width: 1024px) {

.containerAdd, .containerDetalle{
    width: 48%;
    
 
}
.containerPrincipal{
 
display:flex;
justify-content: space-between;
}    
.containerDetalle div{
    width: 49%;
}
}