.titulo-encabezado {
    font-size: 16px;
    margin: 20px 0px 20px 0px;

}


.container {   
    width: 92%;
    display: flex;
    flex-direction: column;
    border: 1px solid #606060;
    padding: 10px;
}


.caja-titulo {
    width: 100%;
}


.caja-datos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.caja-imagen {
    width:  35%;
    display: flex;
    align-items: flex-start;  
}

img {
    width: 80%;
}

.caja-descripcion {
    width: 63%;
    display: flex;
    flex-direction:column;
    font-size: 12px;
}


 .productName {
    color: #606060;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
}


.productTalle {
    color: #606060;
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.productEdit {
    font-size: 13px;
    color:  #0985d9;
    margin-bottom: 5px;
    padding-left: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}


.containerTotal {
    display: flex;
}


.total {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-left: 10px;
}


.spanTotal {
    font-weight: 600;
    font-size: 14px;
}


select {
    outline: none;
}




.container-envio {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-weight: 600;
    color: #606060;
    font-size: 12px;
    border: 1px solid #606060;
    padding: 10px;
    width: 92%;
}


.container-envio div {
    display: flex;
    justify-content: space-between;
}



.labelDiscount{
margin-top:12px;
}


.inputDiscount,
.inputSend {
    width: 60%;
    font-weight: 400;
    border-radius: 3px;
    font-size: 13px;
    border: solid 1px #0985d9;
    outline: 0px;
    padding: 4px;
}


.inputCalc,
.inputVal {
    font-weight: 400;
    font-size: 13px;
    width: 30%;
    border-radius: 2px;
    color: #fff;
    background:  #0985d9;
    border: 0px;
    outline: none;
}

.inputBuy {

    font-weight: 400;
    border-radius: 3px;
    font-size: 13px;
    width: 100%;
    height: 30px;
    background-color: #6ad872;
    border: solid 1px #6ad872;;
    color: #ffffff;
    margin-top: 18px;
    cursor: pointer
}


@media (min-width: 540px) {
    .section {
        display: flex;
        align-items: stretch;
    }

    .productTalle, .productEdit, .input {
        padding-left: 0px;
    }

    .container {
        margin-right: 5px;
    }

    .container-envio {
        margin: 0px;
    }
    
    
}



@media (min-width: 920px) {
    .section {
        display: flex;
        align-items: stretch;
    }

    .productTalle, .productEdit, .input {
        padding-left: 0px;
    }

    .container {
        margin-right: 5px;
    }

    .container-envio {
        margin: 0px;
    }
    
    
}