.main {
    
}

.home {
    display: flex;
    flex-direction: column;
}

.carousel-container img {
    width: 100%;
    background-size: cover;
}

.home-main {
    display: flex;
    flex-direction: column;
    
}

.banner-home {
    margin: 10px 0px 10px 0px;
}

/*Destacados*/

.outstanding {
    display: flex;
    flex-direction: column;
   margin: 10px;
}

.outstanding-section-title {
    margin: 10px 0px 10px;
}

.outstanding-article {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
   
}

.outstanding-article1 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
    
}

.outstanding-article1 img {
    width: 100%;
}

.outstanding-article2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
    
}

.outstanding-article2 img {
    width: 100%;
}


.outstanding-article3 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
    
}

.outstanding-article3 img {
    width: 100%;
}
.outstanding-article-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outstanding-article-title {
    margin: 0;
    font-size: 12px;
}

.outstanding-article-container-description {
    display: flex;
}

.outstanding-article-description{
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    display: inline;
}

.outstanding-article-description-span {
    color:  #ee7209;
    text-decoration: line-through;
    font-size: 12px;
    margin-left: 5px;
}

.outstanding-article3 {
    display: none;
}

/*Ofertas*/

.offer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.offer-section-title {
    margin: 10px 0px 10px;
}

.offer-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.offer-article1 {
    display: flex;
    flex-direction: column;
    flex:0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.offer-article1 img {
    width: 100%;
}

.offer-article2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.offer-article2 img {
    width: 100%;
}

.offer-article3 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.offer-article3 img {
    width: 100%;
}

.offer-article4 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.offer-article4 img {
    width: 100%;
}

.offer-article-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.offer-article-title {
    margin: 0;
    font-size: 12px;
}

.offer-article-container-description {
    display: flex;
}

.offer-article-description {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    display: inline;
}

.offer-article-description-span {
    color:  #ee7209;
    text-decoration: line-through;
    font-size: 12px;
    margin-left: 5px;
}

.offer-article3, .offer-article4 {
    display: none;
}

/*Lanzamientos*/

.releases {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.releases-section-title {
    margin: 10px 0px 10px;
}

.releases-article {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.releases-article1 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.releases-article1 img {
    width: 100%;
}

.releases-article2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.releases-article2 img {
    width: 100%;
}


.releases-article-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.releases-article-title {
    margin: 0;
    font-size: 12px;
}

.releases-article-container-description {
    display: flex;
}

.releases-article-description {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    display: inline;
}

.releases-article-description-span {
    color:  #ee7209;
    text-decoration: line-through;
    font-size: 12px;
    margin-left: 5px;
}

.releases-article3, .releases-article4 {
    display: none;
}

/*Recomendados*/

.recommended{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.recommended-section-title {
    margin: 10px 0px 10px;
}

.recommended-article {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.recommended-article1 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.recommended-article1 img {
    width: 100%;
}

.recommended-article2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.recommended-article2 img {
    width: 100%;
}

.recommended-article3 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.recommended-article3 img {
    width: 100%;
}

.recommended-article4 {
    display: flex;
    flex-direction: column;
    flex: 0 1 48%;
    background-color: #ffffff;
    align-items: flex-start;
}

.recommended-article4 img {
    width: 100%;
}

.recommended-article-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.recommended-article-title {
    margin: 0;
    font-size: 12px;
    
}

.recommended-article-container-description {
    display: flex;
}

.recommended-article-description {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    display: inline;
}

.recommended-article-description-span {
    color:  #ee7209;
    text-decoration: line-through;
    font-size: 12px;
    margin-left: 5px;
}

.recommended-article3, .recommended-article4 {
    display: none;
}


img {
    width: 100%;
}

@media(min-width: 768px){


.outstanding-section-title {
    font-size: 26px;
    font-weight: bold;
}

.offer-section-title {
    font-size: 26px;
    font-weight: bold;
}

.releases-section-title {
    font-size: 26px;
    font-weight: bold;
}

.recommended-section-title {
    font-size: 26px;
    font-weight: bold;
}

.outstanding-article-title {
    margin: 0;
    font-size: 14px;
}

.offer-article-title {
    margin: 0;
    font-size: 14px;
}

.releases-article-title {
    margin: 0;
    font-size: 14px;
}

.recommended-article-title {
    margin: 0;
    font-size: 14px;
}


.outstanding-article-description {
    margin: 0;
    font-size: 16px;
}

.offer-article-description {
    margin: 0;
    font-size: 16px;
}

.releases-article-description {
    margin: 0;
    font-size: 16px;
}

.recommended-article-description {
    margin: 0;
    font-size: 16px;
}


.outstanding-article-description-span {
    margin-left: 10px;
    font-size: 16px;
}

.offer-article-description-span {
    margin-left: 10px;
    font-size: 16px;
}

.releases-article-description-span {
    margin-left: 10px;
    font-size: 16px;
}

.recommended-article-description-span {
    margin-left: 10px;
    font-size: 16px;
}


.outstanding-article3 {
    display: block;
}

.outstanding-article1 {
    flex:0 1 30%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}


.outstanding-article2 {
    flex:0 1 30%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.outstanding-article3 {
    flex:0 1 30%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.offer-article{
    display: flex;
    justify-content: space-between;
}

.offer-article1 {
    display: flex;
    flex-direction: column;
    flex:0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;
}

.offer-article2 {
    display: flex;
    flex-direction: column;
    flex:0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;
}

.offer-article3 {
    display: flex;
    flex-direction: column;
    flex:0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;
}
.offer-article4 {
    display: flex;
    flex-direction: column;
    flex:0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;

}
.recommended-article3, .recommended-article4 {
    display: block;
};

.recommended-article{
    display: flex;
    justify-content: space-between;
}

.recommended-article1 {
    display: flex;
    flex-direction: column;
    flex: 0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;
}

.recommended-article2 {
    display: flex;
    flex-direction: column;
    flex: 0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;
}

.recommended-article3 {
    display: flex;
    flex-direction: column;
    flex: 0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;
}

.recommended-article4 {
    display: flex;
    flex-direction: column;
    flex: 0 1 23%;
    background-color: #ffffff;
    align-items: flex-start;
}