<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-Sports</title>
    <link rel="stylesheet" href="style/styles.css">

</head>

<body>
    <main>
        <header class="main-header">
            <nav class="main-nav">
                <div class="main-navContainerLogo">
                    <img src="" alt="" class="main-nav__logo">
                </div>

                <div class="main-navContainerListNavegation">
                    <a href="" class="main-navListNavegation__woman">Mujer</a>
                    <a href="" class="main-navListNavegation__man">Hombre</a>
                    <a href="" class="main-navListNavegation__childs">Niños</a>
                    <a href="" class="main-navListNavegation__brands">Marcas</a>
                </div>

                <div class="main-navContainerIcons">
                    <a href="" class="main-navIcons__search"><i></i></a>
                    <a href="" class="main-navIcons__heart"><i></i></a>
                    <a href="" class="main-navIcons__cart"><i></i></a>
                    <a href="" class="main-navIcons__user"><i></i></a>
                </div>
            </nav>
        </header>

        <seccion>

            <div class="main-icon">
                <a href="Home"></a>
            </div>


            <div class="main-containerProduct">
                <img src="" alt="" class="main-productImg">
                <p class="main-productName">ZAPATILLAS Topper Roma</p>
                <p class="main-productTalle">Talle 45</p>
                <a href="/product">Editar Producto</a>
                <label class="main-labelCant" for="">Cantidad</label>
                <input class="main-inputCant " type="number" name="cantidad" value="1"> Cantidad
                <label class="main-labelTotal" for="">Total</label>
                <input class="main-inputTotal" type="text" readonly name="Total" value=""> Total
            </div>

            <div class="main-containtCode">
                <label class="main-labelSend" for="">Envío</label>
                <input class="main-inputSend" type="number" name="envio"  placeholder="Codigo postal" value=""> Envío
                <label class="main-labelDiscount" for="">Cupón de descuento</label>
                <input class="main-inputDiscount" type="text" name="cupon" value=""> Cupón de descuento
                <button class="main-inputCalc" type="button">Calcular</button>
                <button class="main-inputVal" type="button">Validar</button>
                <button class="main-inputBuy" type="button">Comprar</button>
            </div>




        </seccion>

        <footer class="footer">
            <div class="footer-containerLogo">
                <img src="" alt="" class="footer__logo">
            </div>

            <div class="footer-containerRedes">
                <a href="" class="footer-Redes__instagram"><i></i></a>
                <a href="" class="footer-Redes__facebook"><i></i></a>
                <a href="" class="footer-Redes__twitter"><i></i></a>
                <a href="" class="footer-Redes__tiktok"><i></i></a>
            </div>

            <div class="footer-containerAboutUs">
                <h4 class="footer-AboutUs__title">Nosotros</h4>
                <ul class="footer-AboutUs__list">
                    <li>Acerca de Nosotros</li>
                    <li>Contacto</li>
                    <li>Trabaja junto a nosotros</li>
                    <li>Terminos y condiciones</li>
                </ul>
            </div>

            <div class="footer-containerInformation">
                <h4 class="footer-Information__title">Información</h4>
                <ul class="footer-Information__list">
                    <li>Medios de Pago</li>
                    <li>Preguntos frecuentes</li>
                    <li>Como Comprar</li>
                    <li>Como Comprar</li>
                    <li>Envíos</li>
                </ul>
            </div>

            <div class="footer-containerAttention">
                <h4 class="footer-Attention__title">Atención al cliente</h4>
                <ul class="footer-Attention__list">
                    <li>0800-77-SPORTS</li>
                    <li>Lunes a Sabado de 9 a 20 hs</li>
                </ul>
            </div>

            <div class="footer-containerCopyright">
                <p>&copy Digital-Sports</p>
            </div>
        </footer>




    </main>



</body>

</html>