<%- include("partials/head")  %>
    <link rel="stylesheet" href= "stylesheet/detail-producto.css">
</head>

<body>
    <main class="main">
        <%- include("partials/header")  %>
        <div class="menu">
            <div>
                <p><a href="#"><i class="fas fa-home home"></i></a></p>
            </div>            
            <div class="detalle titulo">
                <p class="menu-producto">/ Seccion de la home / Nombre del producto</p>
            </div>
        </div>
        <div class="contenedorPadre">
            <section class="container-section-producto">


                <div class="container-img">
                    <a href=""><i class="fas fa-angle-left arrowIzq"></i></a>
                    <a href=""><i class="fas fa-angle-right arrowDer"></i></a>
                    <img class="article-imagen-left" src="/images/Zapatilla-Nike-Todos.jpeg" alt="" >
                </div>

                <div class="container-imagenes">
                    <img class="article-imagen-right" src="/images/Zapatilla-Nike-Todos.jpeg" alt="" >  
                    <img class="article-imagen-right" src="/images/Zapatilla-Nike-Todos2.jpg" alt="" >
                    <img class="article-imagen-right" src="/images/Zapatilla-Nike-Todos3.jpg" alt="" >                
                </div>



                <div class="container-detalle">

                    <div class="container-detalle-titulo">
                        <div class="container-texto-nombre">
                            <h3>Zapatillas Nike Todos</h3>
                        </div>
                        <div class="container-texto-precio">
                            <h2><strong>$5999</strong></h2>
                            <h4>antes $7600</h4>
                        </div>
                    </div>

                    <div class="container-detalle-talle">
                        <div>
                            <p><label for= "" >Talle</label></p>
                        </div>
                        <div class="container-detalle-talles-numero">
                            <input type="radio" name="talle" id="36">
                            <label for="36">36</label>
                            <input type="radio" name="talle" id="37">
                            <label for="37">37</label>
                            <input type="radio" name="talle" id="38">
                            <label for="38">38</label>
                            <input type="radio" name="talle" id="39">
                            <label for="39">39</label>
                            <input type="radio" name="talle" id="40">
                            <label for="40">40</label>
                            <input type="radio" name="talle" id="41">
                            <label for="41">41</label>
                            <input type="radio" name="talle" id="42">
                            <label for="42">42</label>
                            <input type="radio" name="talle" id="43">
                            <label for="43">43</label>
                            <input type="radio" name="talle" id="44">
                            <label for="44">44</label>
                        </div>
                        
                    </div>
                    
                    <div class="container-detalle-comprar">
                        <button type="submit" class="section-loginButtonEnterOk"><a href=""><i class="fas fa-shopping-cart carrito"></i></a></button>
                        <div class="logo-like">
                            <p>
                                <a href=""><i class="fas fa-heart like"></i></a>
                            </p>
                            
                        </div>
                    </div>


                </div>

            </section>

            <div class="container-descripcion">
                <hr>
                <h3>Descripción</h3>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, culpa doloremque placeat perferendis quo voluptatibus labore maiores, nulla expedita vel iste quisquam neque dignissimos consectetur beatae recusandae, illo repellat repellendus!</p>
                <hr>
            </div>

        </div>
   
        <%- include("partials/form-suscribe")  %>


        <%- include("partials/footer")  %>
    </main>
</body>
</html>