<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-Sports</title>
    <link rel="stylesheet" href= "../../public/style/styles.css">
</head>
<body>
    <main>

        <header class="main-header">
            <div class="main-title">
                <h3>
                    Hombres
                </h3>
            </div>
        </header>

        <div class="main-article">
            <div class="main-image">
                <img height = "100px" src="../../public/images/zapatillas-de-futbol-predator-20.3-moqueta.jpg">
            </div>
            <div class="main-detail">
                <ol>
                    <li>
                        $10.000
                    </li>
                    <li>
                        40% OFF
                    </li>
                    <li>
                        Predator
                    </li>
                </ol>
            </div>
        </div>   
    </main>
</body>
</html>