<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-Sports</title>
    <link rel="stylesheet" href="style/style.css">

</head>

<body>
    <main>
        <header class="main-header">
            <nav class="main-nav">
                <div class="main-navContainerLogo">
                    <img src="" alt="" class="main-nav__logo">
                </div>

                <div class="main-navListNavegation">
                    <a href="">Mujer</a>
                    <a href="">Hombre</a>
                    <a href="">Niños</a>
                    <a href="">Marcas</a>
                </div>

                <div class="main-navIcons">
                    <a href=""><i></i></a>
                    <a href=""><i></i></a>
                    <a href=""><i></i></a>
                    <a href=""><i></i></a>
                </div>
            </nav>
        </header>


        <div>
            <div class="home">
                <div>
                    <section class="exhibitor">

                    </section>
                    <section class="outstanding">
                        <div class="article-outstanding">
                            <img scr="" class="article-outstanding-image">
                            <h1 class="article-outstanding-image"></h1>
                            <h2 class="article-outstanding-image"></h2>
                            <button class="article-outstanding-buttom"></button>


                        </div>

                    </section>
                    <section class="ofertas">

                    </section>
                    <section class="lanzamientos">

                    </section>
                    <section class="recomendados">

                    </section>
                    <section class="busquedas">

                    </section>


                </div>



            </div>
        </div>


        <footer class="footer">
            
        </footer>



    </main>



</body>

</html>