<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav-menu"><nav> </nav></div>
        <img>

    </header>
    <main>
        <div class="home">
            <div>
                <section class= "exhibitor">

                </section>
                <section class="destacados">
                    <div class= "article-outstanding">
                        <img scr= "" class= "article-outstanding-image">
                        <h1 class="article-outstanding-image"></h1>
                        <h2 class="article-outstanding-image"></h2>
                        <button class= "article-outstanding-buttom"></button>


                    </div>

                </section>
                <section class="ofertas">
                    
                </section>
                <section class="lanzamientos">
                    
                </section>
                <section class="recomendados">
                    
                </section>
                <section class="busquedas">
                    
                </section>


            </div>



        </div>
    </main>
    <footer>

    </footer>
</body>
</html>