<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-Sports</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="style/styles.css">
    <link rel="stylesheet" href="style/style-home.css">


</head>

<body>
    <main>
        <header class="main-header">
            <nav class="main-nav">
                <div class="main-navContainerLogo">
                    <img src="logos/logo-digital-sports.svg" alt="logo-digitasports" class="main-nav__logo">
                </div>

                <div class="main-navContainerListNavegation">
                    <a href="#" class="main-navListNavegation__woman">Mujer</a>
                    <a href="#" class="main-navListNavegation__man">Hombre</a>
                    <a href="#" class="main-navListNavegation__childs">Niños</a>
                    <a href="#" class="main-navListNavegation__brands">Marcas</a>
                </div>

                <div class="main-navContainerIcons">
                    <a href=""><i class="fas fa-search main-navIcons__search"></i></a>
                    <a href=""><i class="fas fa-heart main-navIcons__heart"></i></a>
                    <a href="carrito"><i class="fas fa-shopping-cart main-navIcons__cart"></i></a>
                    <a href="login"><i><i class="fas fa-user main-navIcons__user"></i></i></a>
                </div>
            </nav>
        </header>


        <div class="home">
            <div class="carousel-container">
                <img src="/images/digital-deportes.jpg">
            </div>
            <div>
                <section class="outstanding">
                    <div class="outstanding-section-title">Productos destacados para vos</div>

                    <section class="outstanding-article">

                        <article class="outstanding-article1">
                            <img src="/images/adidas_grand_court.jpg" class="outstanding-article1-image">
                            <h2 class="outstanding-article-title">Adidas Grand Court</h2>
                            <p class="outstanding-article-description">$ 6500.-</p>
                            <button class="outstanding-article-buttom">comprar</button>
                        </article>

                        <article class="outstanding-articles2">
                            <img src="/images/zapatillas-de-futbol-predator-20.3-moqueta.jpg"
                                class="outstanding-article2-image">
                            <h2 class="outstanding-article-title">Botines Predator</h2>
                            <p class="outstanding-article-description">$ 4500.-</p>
                            <button class="outstanding-article-buttom">comprar</button>
                            
                        </article>

                        <article class="outstanding-articles3">
                            <img src="/images/bolso_under_armor.jpeg" class="outstanding-articles3-image">
                            <h2 class="outstanding-article-title">Bolso Under Armor</h2>
                            <p class="outstanding-article-description">$ 3500.-</p>
                            <button class="outstanding-article-buttom">comprar</button>
                        </article>

                    </section>
            </div>
            <div>
                <section class="offer">
                    <div class="offer-section-title">Ofertas</div>
                    <section class="offer-article">
                        <article class="offer-article1">
                            <img src="/images/buzo-con-capucha-warm-up.jpg" class="offer-article1-image">
                            <h1 class="offer-article-title">Buzo con capucha</h1>
                            <p class="offer-article-description">$ 5999.-</p>
                            <button class="offer-article-buttom">comprar</button>
                        </article>

                        <article class="offer-article2">
                            <img src="/images/conjunto_hombre.jpg" class="offer-article2-image">
                            <h1 class="offer-article-title">Conjunto deportivo dama</h1>
                            <p class="offer-article-description">$ 3700.-</p>
                            <button class="offer-article-buttom">comprar</button>
                        </article>

                        <article class="offer-article3">
                            <img src="/images/camiseta-argentina-promo.jpg" class="offer-article3-image">
                            <h1 class="offer-article-title">Camiseta Argentina</h1>
                            <p class="offer-article-description">$ 4500.-</p>
                            <button class="offer-article-buttom">comprar</button>
                        </article>

                        <article class="offer-article4">
                            <img src="/images/camiseta_river_titular.jpg" class="offer-article4-image">
                            <h1 class="offer-article-title">Camiseta River Titular</h1>
                            <p class="offer-article-description">$ 4500.-</p>
                            <button class="offer-article-buttom">comprar</button>
                        </article>

                    </section>
            </div>

            <div>
                <section class="release">

                    <div class="release-section-title">Lanzamientos</div>
                    <section class="release-article">
                        <article class="release-articule1">
                            <img src="/images/ojotas_havaianas.jpg" class="article-release1-image">
                            <h1 class="release-articule-title">Ojotas Havaianas</h1>
                            <p class="release-article-description">$ 2999..-</p>
                            <button class="release-article-buttom">comprar</button>
                        </article>

                        <article class="release-articule2">
                            <img src="/images/bolso_under_armor.jpeg" class="release-articule2-image">
                            <h1 class="release-articule-title">Bolso Under Armor</h1>
                            <p class="release-article-description">$ 4500.-</p>
                            <button class="release-article-buttom">comprar</button>
                        </article>

                        <article class="release-articule3">
                            <img src="/images/camiseta_river_alternativa.jpg" class="release-articule3-image">
                            <h1 class="release-articule-title">Camiseta River Alternativa</h1>
                            <p class="release-article-description">$ 3200.-</p>
                            <button class="release-article-buttom">comprar</button>
                        </article>

                        <article class="release-articule4">
                            <img src="/images/zapatilla_nike_.jpg" class="release-articule3-image">
                            <h1 class="release-articule-title">Zapatilla Nike</h1>
                            <p class="release-article-description">$3500.-</p>
                            <button class="release-article-buttom">comprar</button>
                        </article>

                    </section>
            </div>
            <div class="banner-home"><img src="/images/home_banner.jpg" class="banner-home"></div>
            <div>
            <section class="recommend">
                <div class="recommend-section-title">Recomendados para vos</div>
                    
                <section class="recommend-article">

                        <article class="recommend-articule1">
                            <img src="/images/zapatilla_nike_air_Bella.jpg" class="article-recommend1-image">
                            <h1 class="recommend-articule-title">Air Nike Bella</h1>
                            <p class="recommend-article-description">$ 5500.-</p>
                            <button class="recommend-article-buttom">comprar</button>
                        </article>

                            <article class="recommend-articule2">
                                <img src="/images/puma_vikky.jpg" class="article-recommend2-image">
                                <h1 class="recommend-articule-title">Puma Vikky</h1>
                                <p class="recommend-article-description">$ 4700.-</p>
                                <button class="recommend-article-buttom">comprar</button>
                            </article>
                        
                            <article class="recommend-articule3">
                                <img src="/images/musculosa_under_armor.jpg" class="article-recommend3-image">
                                <h1 class="recommend-articule-title">Musculosa Under Armor</h1>
                                <p class="recommend-article-description">$ 1700.-</p>
                                <button class="recommend-article-buttom">comprar</button>
                            </article>

                        
                            <article class="recommend-articule4">
                                <img src="/images/top_nike_indy.jpg" class="article-recommend4-image">
                                <h1 class="recommend-articule-title">Top Nike Indy</h1>
                                <p class="recommend-article-description">$ 2400.-</p>
                                <button class="recommend-article-buttom">comprar</button>
                            </article>

                </section>
            </div>
            
            <div class="div-suscribeContainer">
                <h4 class="section-suscribeTitle">Recibi Ofertas y Descuentos</h4>
                <form action="index.html" class="section-suscribeForm" method="POST">
                    <input type="email" id="mail" name="mail-suscribe" placeholder=" Ingresá tu mail"
                        class="section-suscribeFormInput">
                    <button type="submit" class="section-suscribeFormButton">Suscribirse</button>
                </form>
            </div>

        </div>



        </div>
    
    
        <footer class="footer">
            <div class="footer-containerLogo-Redes">
                <div class="footer-containerLogo">
                    <img src="logos/logo-digital-sports.svg" alt="" class="footer__logo">
                </div>
    
                <div class="footer-containerRedes">
                    <a href=""><i class="fab fa-instagram footer-Redes__iconInstagram"></i></a>
                    <a href=""></i><i class="fab fa-facebook footer-Redes__iconFacebook"></i></a>
                    <a href=""><i class="fab fa-twitter-square footer-Redes__iconTwitter"></i></a>
                    <a href=""><i class="fab fa-tiktok footer-Redes__iconTiktok"></i></a>
                </div>
    
            </div>

            <div class="footer-containerLists">
            <div class="footer-containerAboutUs">
                <h4 class="footer-aboutUs__title">Nosotros</h4>
                <ul class="footer-aboutUs__list">
                    <li>Acerca de Nosotros</li>
                    <li>Contacto</li>
                    <li>Trabaja junto a nosotros</li>
                    <li>Terminos y condiciones</li>
                </ul>
            </div>

            <div class="footer-containerInformation">
                <h4 class="footer-information__title">Información</h4>
                <ul class="footer-information__list">
                    <li>Medios de Pago</li>
                    <li>Preguntas frecuentes</li>
                    <li>Como Comprar</li>
                    <li>Envíos</li>
                </ul>
            </div>

            <div class="footer-containerAttention">
                <h4 class="footer-attention__title">Atención al cliente</h4>
                <ul class="footer-attention__list">
                    <li>0800-77-SPORTS</li>
                    <li>Lunes a Sabado de 9 a 20 hs</li>
                </ul>
            </div>
        </div>

            <div class="footer-containerCopyright">
                <p>&copy digital-sports</p>
            </div>
        </footer>

    </main>
</body>

</html>