<%- include("partials/head")  %>
<link rel="stylesheet" href="stylesheet/login.css">


</head>

<body>
    <main class="main">
        <%- include("partials/header")  %>

        <section class="section-loginContainer">
            <div class="section-loginContainerTitle">
                <h4 class="section-loginTitle">Clientes</h4>
            </div>

            <form method="POST" action="index.html" class="section-form-login">
                <div class="section-loginContainerEmail">
                    <label for="email" class="section-login__labelEmail">Correo Electrónico<span
                            class="section-login__spanLabelEmail">*</span></label>
                    <input type="email" name="email-login" id="email" class="section-login__inputEmail">
                </div>

                <div class="section-loginContainerPassword">
                    <label for="password" class="section-loginLabelPassword">Contraseña <span
                            class="section-login__spanLabelPassword">*</span></label>
                    <input type="password" name="password-login" id="password" class="section-login__inputPassword">
                    <a href="" class="section-loginResetPassword">Reestablecer Contraseña</a>
                </div>

                <div class="section-loginContainerButton">
                    <button type="submit" class="section-loginButtonEnterOk">Ingresar</button>
                    <button type="submit" class="section-loginButtonCheckIn">Registrarse</button>
                </div>

                <div class="section-loginContainerRequired">
                    <small class="section-loginRequired">*Campos Requeridos</small>
                </div>
            </form>


        </section>






        <%- include("partials/form-suscribe")  %>

        <%- include("partials/footer")  %>






    </main>



</body>

</html>