<%- include("partials/head")  %>
<link rel="stylesheet" href="/stylesheet/login.css">


</head>

<body>
    <main class="main">
        <%- include("partials/header")  %>

        <section class="section-loginContainer">
            <div class="section-loginContainerTitle">
                <h4 class="section-loginTitle">Clientes</h4>
            </div>

            <form method="POST" action="/users/login" class="section-form-login">
                <div class="section-loginContainerEmail">
                    <label for="email" class="section-login__labelEmail">Correo Electrónico<span
                            class="section-login__spanLabelEmail">*</span></label>
                    <input type="email" name="emailLogin" id="email" class="section-login__inputEmail">
                </div>

                <div class="section-loginContainerPassword">
                    <label for="password" class="section-loginLabelPassword">Contraseña <span
                            class="section-login__spanLabelPassword">*</span></label>
                    <input type="password" name="passwordLogin" id="password" class="section-login__inputPassword">
                    <a href="" class="section-loginResetPassword">Reestablecer Contraseña</a>
                    <div class="section-loginContainerRequired">
                        <small class="section-loginRequired">*Campos Requeridos</small>
                    </div>
                </div>
 </form>

 <div class="section-loginContainerButton">
    <a class="section-loginButtonCheckIn" href="/users/register">Registrarse</a>
<form action="/users/login" method="POST">
    <button class="section-loginButtonEnterOk" href="/">Ingresar</button>
</form>


        </section>






        <%- include("partials/form-suscribe")  %>

        <%- include("partials/footer")  %>






    </main>



</body>

</html>