<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-Sports</title>
    <link rel="stylesheet" href="style/styles.css">


</head>

<body>
    <main>
        <header class="main-header">
            <nav class="main-nav">
                <div class="main-navContainerLogo">
                    <img src="" alt="" class="main-nav__logo">
                </div>

                <div class="main-navContainerListNavegation">
                    <a href="" class="main-navListNavegation__woman">Mujer</a>
                    <a href="" class="main-navListNavegation__man">Hombre</a>
                    <a href="" class="main-navListNavegation__childs">Niños</a>
                    <a href="" class="main-navListNavegation__brands">Marcas</a>
                </div>

                <div class="main-navContainerIcons">
                    <a href="" class="main-navIcons__search"><i></i></a>
                    <a href="" class="main-navIcons__heart"><i></i></a>
                    <a href="" class="main-navIcons__cart"><i></i></a>
                    <a href="" class="main-navIcons__user"><i></i></a>
                </div>
            </nav>
        </header>

        <section class="section-loginContainer">
            <div class="section-loginContainerTitle">
                <h4 class="section-loginTitle">Clientes</h4>
            </div>

            <form method="POST" action="index.html">
                <div class="section-loginContainerEmail">  
                    <label for="email" class="section-login__labelEmail">Correo Electrónico<span class="section-login__labelEmail*">*</span></label>
                    <input type="email" name="email-login" id="email">
                </div>
    
                <div class="section-loginContainerPassword">
                    <label for="password" class="section-loginLabelPassword">Contraseña <span class="section-loginLabelPassword*">*</span></label>
                    <input type="password" name="password-login" id="password">
                    <a href="" class="section-loginResetPassword">Reestablecer Contraseña</a>
                </div>

                <div class="section-loginContainerButton">  
                    <button type="submit" class="section-loginButtonEnterOk">Ingresar</button>
                    <button type="submit" class="section-loginButtonCheckIn">Registrarse</button>
                </div>
                
                <div class="section-loginContainerRequired">
                    <small class="section-loginRequired">*Campos Requeridos</small>
                </div>
            </form>
          

        </section>

       


<!-- PARA SUSCRIBIRSE -->

        <div class="section-suscribeContainer">
            <h4 class="section-suscribeTitle">Recibi Ofertas y Descuentos</h4>
            <form action="index.html" class="section-suscribeForm" method="POST">
                <label for="mail"></label>
                <input type="email" id="mail" name="mail-suscribe" placeholder="E-mail">
                <button type="submit">Suscribirse</button>
            </form>
        </div>




        <footer class="footer">
            <div class="footer-containerLogo">
                <img src="" alt="" class="footer__logo">
            </div>

            <div class="footer-containerRedes">
                <a href="" class="footer-Redes__instagram"><i></i></a>
                <a href="" class="footer-Redes__facebook"><i></i></a>
                <a href="" class="footer-Redes__twitter"><i></i></a>
                <a href="" class="footer-Redes__tiktok"><i></i></a>
            </div>

            <div class="footer-containerAboutUs">
                <h4 class="footer-AboutUs__title">Nosotros</h4>
                <ul class="footer-AboutUs__list">
                    <li>Acerca de Nosotros</li>
                    <li>Contacto</li>
                    <li>Trabaja junto a nosotros</li>
                    <li>Terminos y condiciones</li>
                </ul>
            </div>

            <div class="footer-containerInformation">
                <h4 class="footer-Information__title">Información</h4>
                <ul class="footer-Information__list">
                    <li>Medios de Pago</li>
                    <li>Preguntos frecuentes</li>
                    <li>Como Comprar</li>
                    <li>Como Comprar</li>
                    <li>Envíos</li>
                </ul>
            </div>

            <div class="footer-containerAttention">
                <h4 class="footer-Attention__title">Atención al cliente</h4>
                <ul class="footer-Attention__list">
                    <li>0800-77-SPORTS</li>
                    <li>Lunes a Sabado de 9 a 20 hs</li>
                </ul>
            </div>

            <div class="footer-containerCopyright">
                <p>&copy Digital-Sports</p>
            </div>
        </footer>



    </main>



</body>

</html>