<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-Sports</title>
    <link rel="stylesheet" href="style/style.css">
</head>


<body>
    <main class="main">

        <header class="main-header">
            <nav class="main-nav">
                <div class="main-navContenedorLogo">
                    <img src="" alt="" class="main-nav__logo">
                </div>

                <div class="main-navListaNavegacion">
                    <a href="">Mujer</a>
                    <a href="">Hombre</a>
                    <a href="">Niños</a>
                    <a href="">Marcas</a>
                </div>

                <div class="main-navIconos">
                    <a href=""><i></i></a>
                    <a href=""><i></i></a>
                    <a href=""><i></i></a>
                    <a href=""><i></i></a>
                </div>
            </nav>
        </header>


        <section class="main-section">
                    
        </section>



        <footer class="main-footer">

        </footer>



    </main>

</body>

</html>