<%- include("partials/head")  %>
<link rel="stylesheet" href="/stylesheet/admproduct.css">


</head>

<body>
    <main class="main">

        <%- include("partials/header")  %>


        <h1>Detalle del producto a Modificar</h1>

        <form class="containerPrincipal" action="/products/create" method="POST" enctype="multipart/form-data">

            <div class="containerAdd">
                
                <label class="labelName" for="">Nombre del producto</label>
                <input class="inputName" type="text" name="name" placeholder="">
                    
                    
                        <label class=" labelDescri" for="">Descripción del producto</label>
                <textarea class="coments" style="resize: none;" name="coments" rows="10" placeholder="" cols="40"></textarea>
                <label class="fotoProducto">Subir fotos del producto</label>
                <input class="inputarchivo" ide="file-input" multiple="multiple" type="file" name="adjunto"
                    accept=".pdf,.jpg,.png">
            </div>



            <div class="containerDetalle">


                <div>
                    <label for="">Categoría</label>
                    <select name="Categoria">
                       
                        <option value="futbol">Fútbol</option>
                        <option value="basquet">Basquet</option>
                        <option value="natacion">Natación</option>
                        <option value="bolley">bolley</option>
                        <option value="running">Running</option>
                    </select>

                    <label for="">Color Principal</label>

                    <select name="color">
                       
                        <option value="blanco">blanco</option>
                        <option value="negro">negro</option>
                        <option value="rojo">rojo</option>
                        <option value="azul">azul</option>
                        <option value="amarillo">amarillo</option>
                       
                    </select>
                </div>



                <div>
                    <label for="">Talle</label>
                    <select name="talle">
                        
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                        <option value="xxl">XXL</option>

                        
                    </select>



                    <label for="">Color Secundario</label>

                    <select name="secundario">
                        <option value="blanco">blanco</option>
                        <option value="negro">negro</option>
                        <option value="rojo">rojo</option>
                        <option value="azul">azul</option>
                        <option value="amarillo">amarillo</option>
                        </select>
                </div>

                <div>

                    <label for="">Envío gratis</label>

                    <select name="envio">
                        <option value="gratis">Gratis</option>
                        <option value="correo">Correo</option>
                       
                    </select>

                    <label class="labelPrecio" for="">Precio</label>
                    <input class="inputPrecio" type="number" name="precio" placeholder=""">
                    <label class=" labelSku" for="">Sku</label>
                    <input class="inputSku" type="number" name="sku" placeholder="">    
                </div>
                   
                   
                    <div>
                        <label class=" labelPromocional" for="">Precio Promocional</label>

                    <input class="inputPromocional" type="number" name="promocional" placeholder=""">
                    
                        <label class=" labelstock" for="">Stock</label>

                    <input class="inputstock" type="number" name="stock" placeholder=""">
                  
                    <label for="">Guardar Cambios</label>
                    <button >Guardar</button>
                    
                </div>
                
            </div>

       
        </form>
               
        

                <%- include("partials/footer")  %>

  

        </main>



</body>

</html>