<%- include("partials/head")  %>
<link rel="stylesheet" href="/stylesheet/admproduct.css">


</head>

<body>
    <main class="main">

        <%- include("partials/header")  %>


        <h1>Detalle del producto a Modificar</h1>

        <form class="containerPrincipal" action="/products/create" method="POST" enctype="multipart/form-data">

            <div class="containerAdd">
                
                <label class="labelName" for="">Nombre del producto</label>
                <input class="inputName" type="text" name="name" placeholder="">
                    
                    
                        <label class=" labelDescri" for="">Descripción del producto</label>
                <textarea class="coments" style="resize: none;" name="coments" rows="10" placeholder="" cols="40"></textarea>
                <label class="fotoProducto">Subir fotos del producto</label>
                <input class="inputarchivo" ide="file-input" multiple="multiple" type="file" name="adjunto"
                    accept=".pdf,.jpg,.png">
            </div>



            <div class="containerDetalle">


                <div>
                    <label for="">Categoría</label>
                    <select name="Categoria">
                        <option value="1">categoría</option>
                        <option value="2">Fútbol</option>
                        <option value="3">Basquet</option>
                        <option value="4">Natación</option>
                        <option value="5">bolley</option>
                        <option value="6">Running</option>
                    </select>

                    <label for="">Color Principal</label>

                    <select name="color">
                        <option value="1">color</option>
                        <option value="2">blanco</option>
                        <option value="3">negro</option>
                        <option value="4">rojo</option>
                        <option value="5">azul</option>
                        <option value="6">amarillo</option>
                       
                    </select>
                </div>



                <div>
                    <label for="">Talle</label>
                    <select name="talle">
                        <option value="1">talle</option>
                        <option value="2">10</option>
                        <option value="3">20</option>
                        <option value="4">30</option>
                        <option value="5">40</option>
                        <option value="6">50</option>
                        <option value="7">60</option>

                        
                    </select>



                    <label for="">Color Secundario</label>

                    <select name="secundario">
                        <option value="1">color secundario</option>
                        <option value="1">color</option>
                        <option value="2">blanco</option>
                        <option value="3">negro</option>
                        <option value="4">rojo</option>
                        <option value="5">azul</option>
                        <option value="6">amarillo</option>
                        </select>
                </div>

                <div>

                    <label for="">Envío gratis</label>

                    <select name="envio">
                        <option value="1">Envío gratis</option>
                        <option value="2">Gratis</option>
                        <option value="3">Correo</option>
                       
                    </select>

                    <label class="labelPrecio" for="">Precio</label>
                    <input class="inputPrecio" type="number" name="precio" placeholder=""">
                    <label class=" labelSku" for="">Sku</label>
                    <input class="inputSku" type="number" name="sku" placeholder="">    
                </div>
                   
                   
                    <div>
                        <label class=" labelPromocional" for="">Precio Promocional</label>

                    <input class="inputPromocional" type="number" name="promocional" placeholder=""">
                    
                        <label class=" labelstock" for="">Stock</label>

                    <input class="inputstock" type="number" name="stock" placeholder=""">
                  
                    <label for="">Guardar Cambios</label>
                    <button >Guardar</button>
                    
                </div>
                
            </div>

       
        </form>
               
        

                <%- include("partials/footer")  %>

  

        </main>



</body>

</html>