<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital-Sports</title>
    <link rel="stylesheet" href="style/styles.css">


</head>

<body>
    <main>
        <header class="main-header">
            <nav class="main-nav">
                <div class="main-navContainerLogo">
                    <img src="" alt="" class="main-nav__logo">
                </div>

                <div class="main-navContainerListNavegation">
                    <a href="" class="main-navListNavegation__woman">Mujer</a>
                    <a href="" class="main-navListNavegation__man">Hombre</a>
                    <a href="" class="main-navListNavegation__childs">Niños</a>
                    <a href="" class="main-navListNavegation__brands">Marcas</a>
                </div>

                <div class="main-navContainerIcons">
                    <a href="" class="main-navIcons__search"><i></i></a>
                    <a href="" class="main-navIcons__heart"><i></i></a>
                    <a href="" class="main-navIcons__cart"><i></i></a>
                    <a href="" class="main-navIcons__user"><i></i></a>
                </div>
            </nav>
        </header>

        <section class="section-registerContainer">
            <div class="section-registerContainerTitle">
                <h4 class="section-registerTitle">Registro</h4>
            </div>

            <form method="POST" action="index.html">
                <div class="section-registerContainerName">
                    <label for="name" class="section-register__labelName">Nombre<span
                            class="section-register__labelName*">*</span></label>
                    <input type="text" name="name-register" id="name">
                </div>

                <div class="section-registerContainerLastName">
                    <label for="lastName" class="section-register__labelLastName">Apellido<span
                            class="section-register__labelLastName*">*</span></label>
                    <input type="text" name="lastName-register" id="lastName">
                </div>

                <div class="section-registerContainerEmail">
                    <label for="email" class="section-register__labelEmail">Correo Electrónico<span
                            class="section-register__labelEmail*">*</span></label>
                    <input type="email" name="email-register" id="email">
                </div>

                <div class="section-registerContainerPassword">
                    <label for="password" class="section-registerLabelPassword">Contraseña <span
                            class="section-registerLabelPassword*">*</span></label>
                    <input type="password" name="password-register" id="password">
                </div>

                <div class="section-registerContainerConfirmPassword">
                    <label for="confirmPassword" class="section-registerLabelConfirmPassword">Confirmar Contraseña <span
                            class="section-registerLabelConfirmPassword*">*</span></label>
                    <input type="password" name="confirmPassword-register" id="confirmPassword">
                </div>

                <div class="section-registerContainerRequired">
                    <small class="section-registerRequired">*Campos Requeridos</small>
                </div>

                <div class="section-registerContainerChecks">
                   <input type="checkbox" name="Quiere recibir mails" value="RE" class="section-registerChecksReceiveEmails">Quiero recibir Mails con noticias y promociones
                   <input type="checkbox" name="Acepta Términos" value="AC" class="section-registerChecksAceptConditions">Acepto Términos y Condiciones
                </div>



                <div class="section-registerContainerButton">
                    <button type="submit" class="section-registerCreateAccount">Crear Cuenta</button>
                </div>

              
            </form>


        </section>





        <div class="section-suscribeContainer">
            <h4 class="section-suscribeTitle">Recibi Ofertas y Descuentos</h4>
            <form action="index.html" class="section-suscribeForm" method="POST">
                <label for="mail"></label>
                <input type="email" id="mail" name="mail-suscribe" placeholder="E-mail">
                <button type="submit">Suscribirse</button>
            </form>
        </div>




        <footer class="footer">
            <div class="footer-containerLogo">
                <img src="" alt="" class="footer__logo">
            </div>

            <div class="footer-containerRedes">
                <a href="" class="footer-Redes__instagram"><i></i></a>
                <a href="" class="footer-Redes__facebook"><i></i></a>
                <a href="" class="footer-Redes__twitter"><i></i></a>
                <a href="" class="footer-Redes__tiktok"><i></i></a>
            </div>

            <div class="footer-containerAboutUs">
                <h4 class="footer-AboutUs__title">Nosotros</h4>
                <ul class="footer-AboutUs__list">
                    <li>Acerca de Nosotros</li>
                    <li>Contacto</li>
                    <li>Trabaja junto a nosotros</li>
                    <li>Terminos y condiciones</li>
                </ul>
            </div>

            <div class="footer-containerInformation">
                <h4 class="footer-Information__title">Información</h4>
                <ul class="footer-Information__list">
                    <li>Medios de Pago</li>
                    <li>Preguntos frecuentes</li>
                    <li>Como Comprar</li>
                    <li>Como Comprar</li>
                    <li>Envíos</li>
                </ul>
            </div>

            <div class="footer-containerAttention">
                <h4 class="footer-Attention__title">Atención al cliente</h4>
                <ul class="footer-Attention__list">
                    <li>0800-77-SPORTS</li>
                    <li>Lunes a Sabado de 9 a 20 hs</li>
                </ul>
            </div>

            <div class="footer-containerCopyright">
                <p>&copy Digital-Sports</p>
            </div>
        </footer>



    </main>



</body>

</html>