<div class="div-suscribeContainer">

    <h4 class="section-suscribeTitle">Recibí Ofertas y Descuentos</h4>

    <form action="/users/suscribe" class="section-suscribeForm" method="POST">
        <input type="email" id="mail" name="mailSuscribe" placeholder=" Ingresá tu email"
            class="section-suscribeFormInput">
        <button type="submit" class="section-suscribeFormButton">Suscribirse</button>
    </form>
</div>