<div class="div-suscribeContainer">

    <h4 class="section-suscribeTitle">Recibí Ofertas y Descuentos</h4>

    <form action="/" class="section-suscribeForm">

        <input type="email" id="mail" name="mailSuscribe" placeholder=" Ingresá tu email" class="section-suscribeFormInput">

        <p class="errores-front-suscribe"></p>

        <button type="submit" class="section-suscribeFormButton">Suscribirse</button>

    </form>
    
</div>