<header class="main-header">
    <nav class="main-nav">
        <div class="main-navContainerLogoIcon">
            <i class="fas fa-bars main-navListNavegation__icon"></i>
            <div class="main-navContainerlogo">
               <a href="/products/admin"><img src="/logos/logo-digital-sports.svg" alt="logo-digitasports" class="main-nav__logo"></a>
            </div>
        </div>

        


        
        <div class="main-navContainerIcons">
          
            <a href="/products/create"><i class="fas fa-folder-plus main-navIcons__add"></i></a>
          
       
       
        </div>
         
    </nav>

  


   
    
</header>