<header class="main-header">
    <nav class="main-nav">
        <div class="main-navContainerLogoIcon">
            <i class="fas fa-bars main-navListNavegation__icon"></i>
            <div class="main-navContainerlogo">
               <a href="/"><img src="/logos/logo-digital-sports.svg" alt="logo-digitasports" class="main-nav__logo"></a>
            </div>
        </div>

        
        <div class="main-navContainerIcons">


            <a href="/products/create"><i class="fas fa-folder-plus main-navIcons__add"></i></a>

            <a href=""><i class="fas fa-heart main-navIcons__heart"></i></a>

            <a href="/products/cart"><i class="fas fa-shopping-cart main-navIcons__cart"></i></a>
            
            <a href="/users/login"><i><i class="fas fa-user main-navIcons__user"></i></i></a>
        </div>

        <form action="/search" method="GET" class="form-search"> 
            <input type="text" class="search" name="homeSearch" placeholder=" Buscar">
             <button class="button-search" ><i class="fas fa-search main-navIcons__search"></i></button>
        </form> 
    
         
    </nav>

  
    <div class="main-navContainerListNavegation">
        <a href="/products" class="main-navListNavegation__woman">Mujer</a>
        <a href="/products" class="main-navListNavegation__man">Hombre</a>
        <a href="/products" class="main-navListNavegation__childs">Niños</a>
        <a href="/products" class="main-navListNavegation__sports">Deportes</a>
        <a href="/products" class="main-navListNavegation__brands">Marcas</a>
    </div>


   
    
</header>